backports-abc==0.5
certifi==2019.9.11
chardet==3.0.4
coverage==4.5.4
environs==4.2.0
funcsigs==1.0.2
futures==3.3.0
idna==2.8
marshmallow==2.20.5
mock==2.0.0
Naked==0.1.31
nose2==0.9.1
pbr==5.4.3
python-dotenv==0.10.3
PyYAML==5.4
requests==2.22.0
singledispatch==3.4.0.3
six==1.13.0
tornado==5.1.1
typing==3.7.4.1
urllib3==1.25.7
